@font-face { font-family: 'MyFont'; src: url(/fonts/comic-sans-ms/COMIC.TTF);}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'MyFont', comic, sans-serif;
    color: #eee;
}

body{
    width: 100%;
    height: 100%;
    background: url("/media/images/sitebg.jpg") no-repeat center fixed;
    background-size: cover;
}

.fa-times{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 4rem;
    color: #eee;
}

.Kirloskar{
    text-align: center;
}

img{
    width: 30rem;
    display: inline-block;
    padding-top: 40px;
}

.heading h1{
    font-size: 25px;
    padding-top: 25px;
    background: linear-gradient(to top, #ff9238, #72f038);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description{
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: left;
    width: 50%;
}

.description ul{
    padding-top: 10px;
}

h2{
    font-size: 3rem;
    opacity: 0.3;
}

.description li{
    font-size: 1.5rem;
    padding: 5px;
}

.tools-technologies{
    padding-top: 20px;
    font-size: 1.8rem;
    text-align: initial;
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .description{
        width: 70%;
    }
}

@media screen and (max-width: 1024px) {
    .description{
        width: 70%;
    }
}